**
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties
!mvnw
!pom.xml

!libraries/
!libraries/mvflix-security-webflux-spring-boot-starter/
!libraries/mvflix-security-webflux-spring-boot-starter/pom.xml
!libraries/mvflix-security-webflux-spring-boot-starter/src/
!libraries/mvflix-security-webflux-spring-boot-starter/src/**

!mvflix-devseed/
!mvflix-devseed/pom.xml
!mvflix-devseed/src/
!mvflix-devseed/src/**

!mvflix-authorization/
!mvflix-authorization/pom.xml
!mvflix-authorization/src/
!mvflix-authorization/src/**

!mvflix-users/
!mvflix-users/pom.xml
!mvflix-users/src/
!mvflix-users/src/**

!mvflix-storage/
!mvflix-storage/pom.xml
!mvflix-storage/src/
!mvflix-storage/src/**

!mvflix-movies/
!mvflix-movies/pom.xml
!mvflix-movies/src/
!mvflix-movies/src/**

!bff-mvflix-web/
!bff-mvflix-web/pom.xml
!bff-mvflix-web/src/
!bff-mvflix-web/src/**

!mvflix-activity/
!mvflix-activity/pom.xml
!mvflix-activity/src/
!mvflix-activity/src/**

!mvflix-playback/
!mvflix-playback/pom.xml
!mvflix-playback/src/
!mvflix-playback/src/**

!mvflix-media-ingestion/
!mvflix-media-ingestion/pom.xml
!mvflix-media-ingestion/src/
!mvflix-media-ingestion/src/**

**/target/
